body{
	margin:0;
}
th {
    background-color: #d9edf7;
    font-size:0.9em;
}
th.header { 
    background-image: url(../imgs/bg.gif);     
    cursor: pointer;
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center right; 
    margin-left: -1px; 
} 
th.headerSortDown { 
    background-image: url(../imgs/desc.gif); 
}
th.headerSortUp { 
    background-image: url(../imgs/asc.gif); 
} 
#header{
	width:100%;
	height:40px;
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
	box-shadow: 0 6px 6px -5px #999;
	border-radius: 0 0 5px 5px;
	margin-bottom:35px;
}
#header_links{
	display:inline-block;
	float:left;
	color:#fff;
	margin:0;
	padding:0;
	left:0;
	font-size:1.5em;
	min-width:200px;
}
#header_links a, #header_login li a{
	color:#fff;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:7px;
}
#header_links ul{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	display:inline-block;
}
#header_links li{
	display:block;
	float:left;
	text-align:center;
	padding-top:5px;
	height:40px;
	border-right:1px solid #fff;
}
#header_links li a:hover, #header_login li a:hover{
	text-decoration:none;
	color:#000000;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
	background: #e5e5e5;
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #e5e5e5 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}
.autocomplete-suggestions { margin-top:35px; border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
#header_search{
	display:inline-block;
	float:right;
	min-width:300px;
	margin-right:100px;
	margin-top:3px;
}
#header_search_box{
	width:300px;
	float:left;
}
#header_search_box_button{
	float:right;
	margin-left:-5px;
}
#header_login{
	display:inline-block;
	float:right;
	color:#fff;
	margin-right:5px;
	padding:0;
	left:0;
	font-size:1.5em;
	min-width:75px;
}
#header_login ul{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	display:inline-block;
}
#header_login li{
	display:block;
	float:left;
	text-align:center;
	padding-top:5px;
	height:40px;
}
#main_content{
	width:95%;
	min-height:600px;
	margin:0 auto;
	display:block;
	border-radius: 5px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
	border:1px solid black;
}
#top_content_buttons{
	display:block;
	height:25px;
	margin-top:-23px;
	position:relative;
}
#top_content_button_right{
	display:inline-block;
	float:right;
	margin-right:5px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-radius:5px;
}
#top_content_button_left{
	display:block;
	float:left;
	margin-left:5px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-radius:5px;
}
#top_content_block{
	margin:0 auto;
	width:1024px;
	min-height:245px;
	clear:both;
}
#user_image{
	background-color:#000;
	border:1px solid #000;
	display:block;
	position:relative;
	float:left;
	margin-left:2%;
	margin-top:2%;
	width:152px;
	height:152px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
}
#user_image_options{
	position:relative;
	display:block;
	height:25px;
	width:75px;
	float:left;
	margin-top:5px;
	margin-left:42px;
}
#user_image_options p{
	text-align:center;
	padding-top:2px;
}
#doctor_list_button{
	display:block;
	float:left;
	margin-top:15px;
	margin-left:147px;
}
#link_to_resident_row{
	float:left;
}
#linked_doctors_box, #unlinked_doctors_box{
	margin:auto;
	width:95%;
	min-height:125px;
	border:1px dotted #000000;
	margin-bottom:35px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
	border-radius: 5px;
}
#linked_doctors_box h1, #unlinked_doctors_box h1{
	text-decoration:underline;
	text-weight:bold;
	margin-left:5px;
	font-size:2em;
}
#alert_box{
	display:none;
	margin:auto;
	width:95%;
	min-height:125px;
	border:1px dotted #ff1a00;
	margin-bottom:35px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
	border-radius: 5px;
}
#alert_box h1{
	text-decoration:underline;
	text-weight:bold;
	margin-left:5px;
	font-size:2em;
}
#alert_box p{
	margin-left:5px;
	margin-right:5px;
}
#main_information{
	display:block;
	position:relative;
	float:left;
	border-radius: 5px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
	background-color:#e9e9e9;
	border:1px solid #000;
	min-width:350px;
	min-height:100px;
	margin-top:2%;
	margin-left:5%;
}
#main_information h2{
	display:block;
	margin:auto;
	width:170px;
	padding-bottom:5px;
	font-size:1.2em;
	font-weight:bold;
}
#secondary_information{
	display:block;
	position:relative;
	float:left;
	margin-left:35px;
	border-radius: 5px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
	background-color:#e9e9e9;
	border:1px solid #000;
	min-width:350px;
	min-height:100px;
	margin-top:2%;
}
#secondary_information h2{
	display:block;
	margin:auto;
	width:150px;
	padding-top:10px;
	font-size:1.2em;
	font-weight:bold;
}
#prev_doctor{
	font-weight:bold;
	display:block;
	float:left;
	margin-left:35%;
	margin-top:85px;
	cursor:hand;
}
#next_doctor{
	font-weight:bold;
	display:block;
	margin-right:35%;
	margin-top:85px;
	float:right;
	cursor:hand;
}
#doctor_cycle{
	position:absolute;
	width:350px;
}
#doctor_cycle_information{
	margin-top:10px;
}
#middle_tabs{
	display:block;
	position:relative;
	clear:both;
	font-size:0.95em;
	width:100%;
	height:35px;
	background: #45484d;
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top, #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top, #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
#middle_tabs a{
	height:35px;
	color:#ffffff;
}
#middle_tabs a:hover{
	color:#000000;
}
#middle_tabs .active a{
	height:35px;
	color:#000000;
}
#lower_content_block{
	display:block;
	position:relative;
	margin-top:5px;
}
#lower_content_block p{
	padding-left:5px;
	padding-right:5px;
}
#login_panel{
	display:block;
	margin:auto;
	width:500px;
	border-radius: 5px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
	border:1px solid #000;
}
#login_panel_content{
	padding:5px;
	text-align:center;
	display:block;
}
#login_panel_content .form-control{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
#login_panel_content  input[type="text"]{
  margin-bottom: 2px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#login_panel_content  input[type="password"]{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#login_logo{
	display:block;
	margin:auto;
	padding-bottom:15px;
	padding-top:5px;
}
#medication_entry, #medication_history_entry, #prescriptions_entry, #assessments_entry, #allergy_entry, #diet_entry, #hospitalizations_entry, #emergency_contacts_entry, #notes_entry, #physical_entry, #insurance_entry{
	display:none;
	margin:auto;
	padding:10px;
	border:1px dashed black;
	border-radius: 5px;
	width:98%;
	margin-bottom:5px;
}
#form_open_me, #form_open_mhe, #form_open_pe, #form_open_ae, #form_open_ale, #form_open_de, #form_open_he, #form_open_ece, #form_open_ne, #form_open_ph, #form_open_in{
	display:block;
	margin:auto;
	width:200px;
	margin-bottom:10px;
}
#table_input_form_submit{
	display:block;
	width:200px;
	margin:auto;
}
#patient_selection_area{
	margin:0 auto;
	display:block;
	width:500px;
	border-radius: 5px;
	box-shadow: 6px 0px 5px -5px #999, -6px 0px 5px -5px #999;
	border:1px solid #000;
	padding-left:135px;
	margin-top:15px;
	text-align:center;
	height:150px;
}
#patient_selection_form_select_box{
	margin-bottom:15px;
}
#delete_row, #edit_row{
	float:left;
}
#alerts_page_information{
	width:100%;
	float:left;
	display:block;
	text-align:center;
	font-size:2.5em;
}
#row_delete_button{
	display:block;
	float:left;
	margin:0 auto;
	margin-left:10px;
	font-size:0.75em;
}
.danger2{
	background-color:rgb(231, 82, 82);
}
#footer{
	width:100%;
	height:35px;
	background-color:#fff;
	text-align:center;
}