<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body>
{% extends 'base.html' %}
{% block body %}

  <div class="row">
    <div id='add_new_resident_form_wrapper' class="col-md-9 col-md-offset-1">
      <form id='add_new_resident' action='/selector/' method='POST' class="form-horizontal" role="form">
		{% csrf_token %}
		<input type='hidden' value='{{ request.session.user }}' name='user_id'>
		<input type='hidden' value='0' id='file_name' name='photo'>
		<input type='hidden' value='0' id='resident_id' name='resident_id'>
		<input type='hidden' value='0' name='deactivated'>
		<input type='hidden' value='add' id='action' name='action'>
        <fieldset>
          <!-- Form Name -->
          <legend>Resident Information</legend>
 	<!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">First Name</label>
            <div class="col-sm-10">
              <input id='first_name' name="first_name" data-validation-help="Please enter the residents first name." data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" placeholder="First Name" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Middle Name</label>
            <div class="col-sm-10">
              <input id='middle_name' name="middle_name" data-validation-help="Please enter the residents middle name. (Optional)" data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" data-validation-optional="true" placeholder="Middle Name" class="form-control" type="text">
            </div>
          </div>

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Last Name</label>
            <div class="col-sm-10">
              <input id='last_name' name="last_name" data-validation-help="Please enter the residents last name." data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" placeholder="Last Name" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Address Line 1</label>
            <div class="col-sm-10">
              <input id='address1' name="address1" data-validation-help="Please enter the residents address." data-validation="required" placeholder="Address Line 1" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Address Line 2</label>
            <div class="col-sm-10">
              <input id='address2' name="address2" data-validation-help="Please enter the residents address line 2. (Optional)" data-validation="required" data-validation-optional="true" placeholder="Address Line 2" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">City</label>
            <div class="col-sm-10">
              <input id='city' name="city" data-validation-help="Please enter the residents city." data-validation="required" placeholder="City" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">State</label>
            <div class="col-sm-4">
              <input id='state' name="state" data-validation-help="Please enter the residents state." data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" placeholder="State" class="form-control" type="text">
            </div>
            <label class="col-sm-2 control-label" for="textinput">Zip Code</label>
            <div class="col-sm-4">
              <input id='zip_code' name="zip_code" data-validation-help="Please enter the residents zip code." data-validation="number" data-validation-allowing="positive" placeholder="Post Code" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Home Phone</label>
            <div class="col-sm-10">
              <input id='home_phone' name="home_phone" data-validation-help="Please enter the residents home phone number." data-validation="custom" data-validation-regexp="^((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}$" id="ec_phone_number" placeholder="Format: (101) 867-5309" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Cell Phone</label>
            <div class="col-sm-10">
              <input id='cell_phone' name="cell_phone" data-validation-help="Please enter the residents cell phone number." data-validation="custom" data-validation-regexp="^((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}$" id="ec_phone_number" placeholder="Format: (101) 867-5309" class="form-control" type="text">
            </div>
          </div>

          <!-- Date input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Date of Birth</label>
            <div class="col-sm-10">
              <input id='dob' name="date_of_birth" data-validation="date" data-validation-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" class="form-control" type="text">
            </div>
          </div>
		  
        <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Last Flu Shot</label>
            <div class="col-sm-10">
              <input id='flu_shot' name="flu_shot" data-validation="date" data-validation-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" class="form-control" type="text">
            </div>
          </div>
			<div class="form-group">
				<label class="col-sm-2 control-label" >Resuscitate</label>
				<div class="col-sm-10">
					<select class="form-control" name='dnr'>
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
				</div>
			</div><!-- /.col-lg-12 -->
			<div class="form-group">
				  <!-- File input-->
				  <div class="form-group">
					<label class="col-sm-2 control-label" for="textinput">Photo</label>
					<div class="col-sm-10">
					  <input name="photo" placeholder="" class="form-control" id="fileupload" data-url="/upload_photo/" type="file">
					  <div id='file_upload_message'></div>
					</div>
				  </div>
			</div>
				  <!-- File input-->
			<div class="form-group">
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <div class="pull-right">
						<button type="submit" class="btn btn-primary">Save</button>
					  </div>
					</div>
				  </div>
				</fieldset>
				</div>
			</form>
		</div><!-- /.row -->
	</div>
	<script src="{{ static }}/static/js/vendor/jquery.ui.widget.js"></script>
	<script src="{{ static }}/static/js/bootstrap-datepicker.js"></script>
	<script src="{{ static }}/static/js/jquery.iframe-transport.js"></script>
	<script src="{{ static }}/static/js/jquery.fileupload.js"></script>
	<script src="{{ static }}/static/js/fsw.data_callers.js"></script>
	<script src="{{ static }}/static/js/fsw.data_pushers.js"></script>
	<script src="{{ static }}/static/js/jquery.form-validator.min.js"></script>
	<script src="{{ static }}/static/js/jquery.serializeJSON.min.js"></script>
	<script src="{{ static }}/static/js/fsw.csrf.js"></script>
	<script>
		$( document ).ready(function() {
			//enable form validation
			$.validate({
				modules : 'date'
			});
			get_last_resident_id();
			//create a function to get the resident id somehow, use 1 for testing
			var current_resident = "{{ request.session.current_resident }}";
			if(current_resident != ""){
				var $_GET = {};
				document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
					function decode(s) {
						return decodeURIComponent(s.split("+").join(" "));
					}

					$_GET[decode(arguments[1])] = decode(arguments[2]);
				});
				if($_GET['action'] == "edit"){
					get_resident_information(current_resident,"{{ request.session.user }}",1);
				};
			};
			$('#fileupload').fileupload({
				dataType: 'json',
				done: function (e, data) {
					if(data.result.success == "1"){
						$('#fileupload').prop('disabled', true);
						$('#file_upload_message').empty();
						$('#file_upload_message').append("<span style='font-weight:bold;color:green'>Upload Complete!</span>");
						//append the filename to the form hidden input
						$('#file_name').val(data.result.filename);
					}else{
						//file upload error!
						$('#file_upload_message').empty();
						$('#file_upload_message').append("<span style='font-weight:bold;color:red'>Upload error!</span>");
					}
				}
			});
			$('#dob,#flu_shot').datepicker({
				format: 'dd/mm/yyyy',
			});
		});
	</script>
{% endblock %}