<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body>
{% extends 'base.html' %}
{% block body %}

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="form-horizontal" role="form">
        <fieldset>

          <!-- Form Name -->
          <legend>Resident Information</legend>
 		 

 	<!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">First Name</label>
            <div class="col-sm-10">
	
              <input name="first_name" placeholder="First Name" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Middle Name</label>
            <div class="col-sm-10">


              <input id="Middle_Name" placeholder="Middle Name" class="form-control" type="text">

            </div>
          </div>

		  <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Last Name</label>
            <div class="col-sm-10">

              <input id="Last_Name" placeholder="Last Name" class="form-control" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Address Line 1</label>
            <div class="col-sm-10">

              <input id="Address1" placeholder="Address Line 1" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Address Line 2</label>
            <div class="col-sm-10">

              <input id="Address2" placeholder="Address Line 2" class="form-control" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">City</label>
            <div class="col-sm-10">

              <input id="City" placeholder="City" class="form-control" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">State</label>
            <div class="col-sm-4">

              <input id="State" placeholder="State" class="form-control" type="text">

            </div>

            <label class="col-sm-2 control-label" for="textinput">Zip Code</label>
            <div class="col-sm-4">
              <input id="Postcode" placeholder="Post Code" class="form-control" type="text">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Home Phone</label>
            <div class="col-sm-10">
              <input name="home_phone" placeholder="Home Phone Number" class="form-control" type="text">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Cell Phone</label>
            <div class="col-sm-10">
              <input name="cell_phone" placeholder="Cell Phone Number" class="form-control" type="text">
            </div>
          </div>

          <!-- Date input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Date of Birth</label>
            <div class="col-sm-10">
              <input name="date_of_birth" placeholder="" class="form-control" type="date">
            </div>
          </div>

	   <!-- Date input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Last Physical Date</label>
            <div class="col-sm-10">
              <input name="last_physical_date" placeholder="" class="form-control" type="date">
            </div>
          </div>
	<!-- Date input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Last Flu Shot Date</label>
            <div class="col-sm-10">
              <input name="last_flu_shot_date" placeholder="" class="form-control" type="date">
            </div>
          </div>

	<div class="form-group">
           
		 <label class="col-sm-2 control-label" >Resuscitate</label>
            <div class="col-sm-10">
	    <select>
  		<option value="Yes">Yes</option>
  		<option value="No">No</option>
	    </select>
          </div>

          <!-- File input-->
          <div class="form-group">
            <label class="col-sm-2 control-label" for="textinput">Photo</label>
            <div class="col-sm-10">
              <input name="photo" placeholder="" class="form-control" type="file">
            </div>
          </div>

	      <!-- File input-->

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div><!-- /.col-lg-12 -->
</div><!-- /.row -->



{% endblock %}
</body></html>
