<html>
    <head>
		<link href="{{ static }}/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ static }}/static/css/default.css">
        <script src="{{ static }}/static/js/jquery-1.11.0.min.js"></script>
        <script src="{{ static }}/static/js/bootstrap.js"></script>
		<script type="text/javascript" src="{{ static }}/static/js/jquery.autocomplete.min.js"></script>
		<script src="{{ static }}/static/js/fsw.csrf.js"></script>
		{% if request.session.user %}
			<script src="{{ static }}/static/js/fsw.search_box.js"></script>
			<script src="{{ static }}/static/js/fsw.logging.js"></script>
		{% endif %}
        <title>FSW | Family Services of Westchester Online Resident Database</title>
        <link rel="Shortcut Icon" href="{{ static }}/static/imgs/favicon.ico" type="image/x-icon">
    </head>
    <body>
		<!-- header -->
		<div id='header'>
			<div id='header_links'>
				<ul>
					{% if request.session.user %}
						<li><a href='/logout/'>&nbsp;<span class="glyphicon glyphicon-off"></span>&nbsp;</a>
						<li><a href='/add_resident/'>New Resident</a>
						<li><a href='/add_doctor/'>New Doctor</a>
						<li><a href='/selector/'>Dashboard</a>
						<li><a id='alerts_link' href='/alerts/'>Alerts</a>
						<li><a id='logs_link' href='/logs/'>Logs</a>
                        {% if request.session.is_staff %}
                        <li><a id='logs_link' href='http://emerald1.ecs.fullerton.edu/admin/auth/user/'>Admin Menu</a>
                        {% endif %}
					{% endif %}
				</ul>
			</div>
			<div id='header_login'>
				<ul>
					{% if request.session.user %}
						<li>{{ request.session.user }}
					{% endif %}
				</ul>
			</div>
			{% if request.session.user %}
			<div id='header_search'>
				<form id='patient_selection' action="/selector/" method="POST">
					{% csrf_token %}
					<div id='header_search_box'>
						<input type="text" id='search_box' class="form-control" placeholder="Resident Search">
						<input id='search_resident_id' name='resident_id' type='hidden' value='0'>
					</div>
					<div id='header_search_box_button'>
						<button class="btn btn-default" type="submit">Go!</button>
					</div>
					<div id="outputbox"></div>
				</form>
				<div id="resident_list" style="display:none;"></div>
			</div>
			{% endif %}
		</div>
		<!-- end header -->

        {% block body %}{% endblock %}

		<!-- footer -->
		<div id='footer'>
			<p>&copy 2014 - FSW Team</p>
		</div>
		<!-- end footer -->
    </body>
</html>