{% extends 'base.html' %}
{% block body %}
	{% if request.session.current_resident != "0" %}
	<div id='alert_box'>
		<h1 id='alert_count'>Alerts ()</h1>
		<table class="table table-hover table-bordered" id='alert_table'>

		</table>
	</div>
	<div id='main_content'>
		<div id='top_content_buttons'>
			<div id='top_content_button_right'>
				<a href="/add_resident/?action=edit" class="btn btn-default btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
			</div>
			<div id='top_content_button_left'>
				<a href="#" class="btn btn-default btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Delete</a>
			</div>
		</div>
		<div id='top_content_block'>
			<div id='print_subscribe_button_area'>
				<div id='print_button'>
					<a href="/print_details/" target="_blank" class="btn btn-default btn-primary btn-lg"><span class="glyphicon glyphicon-print"></span> Print Information</a>
				</div>
				<div id='not_subscribed_button'>
					<form id="subscribe_to_resident" method='POST'>
						{% csrf_token %}
						<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
						<input type='hidden' value='{{ request.session.user }}' name='user_id'>
						<button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-heart-empty"></span> Subscribe</button>
					</form>
				</div>
				<div id='subscribed_button'>
					<form id="unsubscribe_from_resident" method='POST'>
						{% csrf_token %}
						<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
						<input type='hidden' value='{{ request.session.user }}' name='user_id'>
						<input type='hidden' value='0' name='row_id'>
						<input type='hidden' value='0' name='date_time'>
						<input type='hidden' value='0' name='delete_message'>
						<input type='hidden' value='15' name='type'>
						<button type="submit" class="btn btn-default btn-success btn-lg"><span class="glyphicon glyphicon-ok"></span> Subscribed</button>
					</form>
				</div>
			</div>
			<div id='user_image'>
				<img id='user_image_src' src="../static/imgs/no_avatar.png" style="width:150px;height:150px;">
				<div id='user_image_options'>
					<a href="/add_resident/?action=edit" class="btn btn-default btn-primary btn-xs"><span class="glyphicon glyphicon-picture"></span> Change</a>
				</div>
			</div>
			<div id='main_information'>
				<p>
					<h2>Resident Information</h2>
					<ul>
						<li id='resident_name'>Name: 
						<li id='resident_address'>Address: 
						<li id='resident_home_phone'>Home Phone: 
						<li id='resident_cell_phone'>Cell Phone: 
						<li id='resident_dob'>Date of Birth: 
						<li id='resident_last_physical_date'>Last Physical Date: 
						<li id='resident_last_flu_shot'>Last Flu Shot Date: 
						<li id='resident_dnr'>Resuscitate: 
					</ul>
				</p>
			</div>
			<div id='secondary_information'>
				<h2>Doctor Information</h2>
				<div id='doctor_cycle' data-cycle-slides="div" data-cycle-timeout='0' data-cycle-prev="#prev_doctor" data-cycle-next="#next_doctor"></div>
				<span id='prev_doctor' class="btn btn-default btn-xs">&lsaquo; Prev</span><span class="btn btn-default btn-xs" id='next_doctor'>Next &rsaquo;</span>
			</div>
			<div id='doctor_list_button'>
				<a href="/doctor_list/" class="btn btn-default btn-primary btn-xs"><span class="glyphicon glyphicon-th-list"></span> Link / Unlink Doctors</a>
			</div>
		</div>
		<div id='middle_tabs'>
			<ul class="nav nav-tabs">
				<li id='medication_tab' class="active"><a href="#medication" data-toggle="tab">Medication</a></li>
				<li id='medication_history_tab'><a href="#medication_history" data-toggle="tab">Medication History</a></li>
				<li id='prescriptions_tab'><a href="#prescriptions" data-toggle="tab">Prescriptions</a></li>
				<li id='assessment_tab'><a href="#assessments" data-toggle="tab">Assessments</a></li>
				<li id='allergies_tab'><a href="#allergies" data-toggle="tab">Allergies</a><li>
				<li id='diet_tab'><a href="#diet" data-toggle="tab">Diet</a><li>
				<li id='hospitalization_tab'><a href="#hospitalizations" data-toggle="tab">Hospitalizations</a></li>
				<li id='physical_tab'><a href="#physical" data-toggle="tab">Physicals</a></li>
				<li id='insurance_tab'><a href="#insurance" data-toggle="tab">Insurance</a></li>
				<li id='emergency_contacts_tab'><a href="#emergency_contacts" data-toggle="tab">Emergency Contacts</a></li>
				<li id='notes_tab'><a href="#notes" data-toggle="tab">Notes</a></li>
			</ul>
		</div>
		<div class='tab-content' id='lower_content_block'>
			<div class='tab-pane active' id='medication'>
				<table class="table table-hover table-bordered" id='medication_current_table'>

				</table>
				<button id='form_open_me' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='medication_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_medication_name">Medication Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a medication name." data-validation="required" id="me_medication_name" placeholder="Medication Name" name="medication_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_generic_name">Generic Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a generic name for this medication." data-validation="required" id="me_generic_name" placeholder="Generic Name" name="generic_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_prescribed">Prescribed</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" data-validation-help="Please enter a prescription date." data-validation="required" data-validation="date" id="me_prescribed" placeholder="Prescribed" name="med_prescribed">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_expire_date">Expire Date</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" data-validation-help="Please enter an expiration date." data-validation="required" data-validation="date" id="me_expire_date" placeholder="Expire Date" name="med_expire">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_dose">Dose</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" data-validation-help="Please enter a doseage amount." data-validation="required" id="me_dose" placeholder="Dose (mg)" name="med_dose_mg">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_frequency">Frequency</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a frequency amount." data-validation="required" id="me_frequency" placeholder="Frequency" name="med_freq">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_purpose">Purpose</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a purpose for this medication." data-validation="required" id="me_purpose" placeholder="Purpose" name="med_purpose">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="me_note">Note</label>
						<div class="col-sm-10">
							<textarea class="form-control" data-validation-help="Please enter a note (Optional)." data-validation-optional="true" rows="4" id="me_note" placeholder="Notes" name="note"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='medication_history'>
				<table class="table table-hover table-bordered" id='medication_history_table'>

				</table>
				<button id='form_open_mhe' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='medication_history_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_medication_name">Medication Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a medication name." data-validation="required" id="mhe_medication_name" placeholder="Medication Name" name="med_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_generic_name">Generic Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a generic name for this medication." data-validation="required" id="mhe_generic_name" placeholder="Generic Name" name="generic_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_expire_date">Prescribed Date</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" data-validation-help="Please enter a prescription date." data-validation="required" data-validation="date" id="mhe_expire_date" placeholder="Prescribed Date" name="prescribed">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_expire_date">Expire Date</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" data-validation-help="Please enter an expiration date." data-validation="required" data-validation="date" id="mhe_expire_date" placeholder="Expire Date" name="expiration">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_dose">Dose</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" data-validation-help="Please enter a doseage amount." data-validation="required" id="mhe_dose" placeholder="Dose (mg)" name="dosages">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_diet">Diet</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter any diet changes related to this medication." data-validation="required" id="mhe_diet" placeholder="Diet" name="diets">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_frequency">Frequency</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a frequency amount." data-validation="required" id="mhe_frequency" placeholder="Frequency" name="frequency">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_purpose">Purpose</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a purpose for this medication." data-validation="required" id="mhe_purpose" placeholder="Purpose" name="purpose">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="mhe_note">Note</label>
						<div class="col-sm-10">
							<textarea class="form-control" data-validation-help="Please enter a note (Optional)." data-validation-optional="true" rows="4" id="mhe_note" placeholder="Notes" name="note"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<input type='hidden' value='0' name='medication_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='prescriptions'>
				<table class="table table-hover table-bordered" id='prescription_table'>
				
				</table>
				<button id='form_open_pe' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='prescriptions_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="pe_prescription_number">Prescription Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter the prescription number." data-validation="required" id="pe_prescription_number" placeholder="Prescription Number" name="prescription_number">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="pe_order_date">Date Ordered</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" data-validation-help="Please enter the date ordered." data-validation="required" data-validation="date" id="pe_order_date" placeholder="Date Ordered" name="date_ordered">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="pe_date_received">Date Received</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" data-validation-help="Please enter the date received." data-validation="required" data-validation="date" id="pe_date_received" placeholder="Date Received" name="date_received">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="pe_refill_date">Refill Date</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" data-validation-help="Please enter a refill date." data-validation="required" data-validation="date" id="pe_refill_date" placeholder="Refill Date" name="refill_date">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="pe_quantity">Quantity</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a quantity for this medication." data-validation="required" id="pe_quantity" placeholder="Quantity" name="quantity">
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<input type='hidden' value='0' name='medication_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='assessments'>
				<table class="table table-hover table-bordered" id='assessment_table'>
				
				</table>
				<button id='form_open_ae' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='assessments_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ae_assessment_date">Assessment Date</label>
						<div class="col-sm-10">
							<input type="date" data-validation-help="Please enter a assessment date." data-validation="date" class="form-control" id="ae_assessment_date" placeholder="Assessment Date" name="assessment_date">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ae_assessment_time">Assessment Time</label>
						<div class="col-sm-10 input-append bootstrap-timepicker">
							<input type="text" data-validation-help="Please enter an assessment time." data-validation="required" class="input-small form-control" id="ae_assessment_time" data-minute-step="1" placeholder="Assessment Time" name="assessment_time">
							<span class="add-on"><i class="glyphicon glyphicon-time"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ae_weight">Weight</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ae_weight" data-validation-help="Please enter the residents current weight." data-validation="number" data-validation-allowing="range[1;1000]" placeholder="Weight" name="weight">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ae_blood_pressure">Blood Pressure</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ae_blood_pressure" data-validation-help="Please enter the residents current blood pressure." data-validation="required" placeholder="Blood Pressure" name="blood_pressure">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ae_note">Note</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" id="ae_note" data-validation-help="Please enter a note (Optional)." data-validation-optional="true" placeholder="Notes" name="assess_notes"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='allergies'>
				<table class="table table-hover table-bordered" id='allergies_table'>
				
				</table>
				<button id='form_open_ale' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='allergy_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ale_name">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="ale_name" data-validation-help="Please enter an allergy name." data-validation="required" placeholder="Name" name="allergy_title">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ale_note">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" id="ale_note" data-validation-help="Please enter a brief description of the allergy." data-validation="required" placeholder="Description" name="allergy_description"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='diet'>
				<table class="table table-hover table-bordered" id='diet_table'>
				
				</table>
				<button id='form_open_de' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='diet_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="de_name">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="de_name" data-validation-help="Please enter a diet name." data-validation="required" placeholder="Name" name="diet_title">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="de_note">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" id="de_note" data-validation-help="Please enter a brief description of the diet requirements." data-validation="required" placeholder="Description" name="diet_description"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='hospitalizations'>
				<table class="table table-hover table-bordered" id='hospitalizations_table'>
				
				</table>
				<button id='form_open_he' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='hospitalizations_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="he_hospitalization_date">Hospitalization Date</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" id="he_hospitalization_date" data-validation-help="Please enter a hospitalization date." data-validation="date" placeholder="Hospitalization Date" name="hospitalization_date">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="he_location">Location</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="he_location" data-validation-help="Please enter the hospital name where the visit took place." data-validation="required" placeholder="Location" name="hospitalization_location">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="he_duration">Duration</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter the duration amount (in days)." data-validation="required" id="he_duration" placeholder="Duration" name="duration_of_stay">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="he_reason">Reason</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="he_reason" data-validation-help="Please enter a reason for the hospitalization." data-validation="required" placeholder="Reason" name="reason">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="he_medication_changes">Medication Changes</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="he_medication_changes" data-validation-help="Please enter a brief description of any medication changes related to the hospitalization." data-validation="required" placeholder="Medication Changes" name="medication_changes">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="he_diagnosis">Diagnosis</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="he_diagnosis" data-validation-help="Please enter the diagnosis given by the hospital." data-validation="required" placeholder="Diagnosis" name="diagnosis">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ae_note">Discharge Plan</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" id="ae_note" data-validation-help="Please enter any information regarding a discharge plan." data-validation="required" placeholder="Notes" name="notes"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='physical'>
				<table class="table table-hover table-bordered" id='physical_table'>
				
				</table>
				<button id='form_open_ph' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='physical_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ph_date">Date</label>
						<div class="col-sm-10">
							<input type="date" class="form-control" id="ph_date" data-validation-help="Please enter a date for this physical." data-validation="date" placeholder="Physical Date" name="physical_date">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ph_doctor">Doctor</label>
						<div class="col-sm-10">
							<select id='doctor_select_entry_box' class="form-control" class="form-control" id="ph_doctor" name="doctor_id"></select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ph_notes">Notes</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" class="form-control" id="ph_notes" data-validation-help="Please enter a note (Optional)."  data-validation-optional="true" placeholder="Notes" name="notes"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='insurance'>
				<table class="table table-hover table-bordered" id='insurance_table'>
				
				</table>
				<button id='form_open_in' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='insurance_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="in_company">Company Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="in_company" data-validation-help="Please enter the insurance company name." data-validation="required" placeholder="Company Name" name="company">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="in_policy_number">Policy Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="in_policy_number" data-validation-help="Please enter the residents policy number for this insurance." data-validation="required" placeholder="Policy Number" name="policy_number">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="in_phone_number">Company Phone Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="in_phone_number" data-validation-help="Please enter a general phone number for the insurance provider." data-validation="custom" data-validation-regexp="^((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}$" id="ec_phone_number" placeholder="Format: (101) 867-5309" name="phone_number">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="in_purpose">Insurance Purpose</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="in_purpose" data-validation-help="Please enter a general purpose for this insurance." data-validation="required" placeholder="Insurance Purpose" name="purpose">
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='emergency_contacts'>
				<table class="table table-hover table-bordered" id='emergency_contacts_table'>
				
				</table>
				<button id='form_open_ec' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='emergency_contact_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_first_name">First Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a first name." data-validation="required" id="ec_first_name" placeholder="First Name" name="first_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_middle_name">Middle Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a middle name (Optional)." data-validation-optional="true" id="ec_middle_name" placeholder="Middle Name" name="middle_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_last_name">Last Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a last name." data-validation="required" id="ec_last_name" placeholder="Last Name" name="last_name">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_phone_number">Phone Number</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a phone number." data-validation="custom" data-validation-regexp="^((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}$" id="ec_phone_number" placeholder="Format: (101) 867-5309" name="phone_number">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_address1">Address 1</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter an address." data-validation="required" id="ec_address1" placeholder="Basic Address" name="address1">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_address2">Address 2</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter an extended address (Optional)." data-validation-optional="true" id="ec_address2" placeholder="Extended Address" name="address2">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_city">City</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a city." data-validation="required" id="ec_city" placeholder="City" name="city">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_zip_code">Zip Code</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter a zip code." data-validation="required" id="ec_zip_code" placeholder="Zip Code" name="zip_code">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ec_relationship">Relationship</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" data-validation-help="Please enter the relationship to the resident." data-validation="required" id="ec_relationship" placeholder="Relationship" name="relationship">
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			<div class='tab-pane' id='notes'>
				<table class="table table-hover table-bordered" id='notes_table'>
				
				</table>
				<button id='form_open_ne' type="button" class="btn btn-primary">New Entry</button>
				<form class="form-horizontal" id='notes_entry' role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="ne_note">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="4" id="ne_note" data-validation-help="Please enter some notes." data-validation="required" placeholder="Description" name="notes"></textarea>
						</div>
					</div>
					<input type='hidden' value='{{ request.session.current_resident }}' name='resident_id'>
					<input type='hidden' value='{{ request.session.user }}' name='user_id'>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</form>
			</div>
			</div>
		</div>
	</div>
	<!-- loadup data -->
	<script src="{{ static }}/static/js/fsw.data_pushers.js"></script>
	<script src="{{ static }}/static/js/jquery.form-validator.min.js"></script>
	<script src="{{ static }}/static/js/jquery.serializeJSON.min.js"></script>
	<script src="{{ static }}/static/js/jquery.cycle2.min.js"></script>
	<script src="{{ static }}/static/js/jquery.tablesorter.min.js"></script>
	<script src="{{ static }}/static/js/bootstrap-timepicker.min.js"></script>
	<script src="{{ static }}/static/js/fsw.dashboard.js"></script>
	<script>
		$( document ).ready(function() {
			//enable form validation
			$.validate();
			//create a function to get the resident id somehow, use 1 for testing
			get_resident_information({{ request.session.current_resident }},"{{ request.session.user }}",0);
			//get physical info
			get_physical_information({{ request.session.current_resident }});
			//get doctor info
			get_primary_doctor_information({{ request.session.current_resident }},0,"{{ request.session.user }}");
			//get alerts
			get_alerts(get_subscribed_resident_list({{ request.session.current_resident }},"{{ request.session.user }}"),"{{ request.session.user }}","last_login",0);
			//first load so set the data in the active tab
			get_current_medication_information({{ request.session.current_resident }},"{{ request.session.user }}");
			//tab content generation
			$('#medication_tab').click(function(){
				get_current_medication_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#medication_history_tab').click(function(){
				get_medication_history({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#prescriptions_tab').click(function(){
				get_prescription_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#assessment_tab').click(function(){
				get_resident_assessment_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#allergies_tab').click(function(){
				get_resident_allergy_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#diet_tab').click(function(){
				get_resident_diet_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#hospitalization_tab').click(function(){
				get_hospitalization_history({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#physical_tab').click(function(){
				fill_doctor_select_box({{ request.session.current_resident }});
				get_current_physical_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#insurance_tab').click(function(){
				get_current_insurance_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#emergency_contacts_tab').click(function(){
				get_resident_emergency_contacts_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
			$('#notes_tab').click(function(){
				get_resident_notes_information({{ request.session.current_resident }},"{{ request.session.user }}");
			})
		});
	</script>
	{% else %}
		<div id="no_resident_found">
			<p>Resident not found. Please search again or if you feel this is an error please contact the administrator.</p>
		</div>
	{% endif %}
	<script src="{{ static }}/static/js/fsw.data_callers.js"></script>
{% endblock %}