<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ static }}/static/css/bootstrap.css">
        <script src="{{ static }}/static/js/jquery-1.11.0.min.js"></script>
        <script src="{{ static }}/static/js/bootstrap.js"></script>
    </head>
    <body class="panel-body">
        <div class="jumbotron">
            <center>
                    <div class="text-success">
                        WOW! Such Bootstrap! Much Style!
                    </div>
                    <img src="{{ static }}/static/imgs/doge.jpeg" class="img-circle" width="140" height="140"/>
            </center>
        </div>
    </body>
</html>