{% extends 'base.html' %}
{% block body %}

        <div class="container">
            <div class="jumbotron">
                <img class="img-rounded" src="{{ static }}/static/imgs/logo.png"/>
                <div class="container">
                    <div class="pull-right">
                        <div class="span2 offset3 well">
                            <legend>Please Sign In</legend>
                            <form method="POST" action="/login/" accept-charset="UTF-8">
                                    {% csrf_token %}
                            <input type="text" id="username" class="span4" name="username" placeholder="Username">
                            <input type="password" id="password" class="span4" name="password" placeholder="Password">
                            <label class="checkbox">
                                <input type="checkbox" name="remember" value="1"> Remember Me
                            </label>
                            <button type="submit" name="submit" class="btn btn-info btn-block">Sign in</button>
                            </form>
                        </div>
                    </div>
                    <div class="container-fluid">
                            <div class="col-lg-7">
                                 <img class="img-rounded" src="{{ static }}/static/imgs/celebrating-past-rotator-v7.jpg"/>
                            </div>
                    </div>
                    <div class="clearfix" style="padding-top: 10px"></div>
                    <div class="text-primary">
                        The Family Services Westchester Online Resident Database is designed to give you the easiest & most efficient way of keeping track of residents.
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

