{% extends 'base.html' %}
{% block body %}
	<div id='main_content'>
		<div id='patient_selection_area'>
			<form action="/selector/" method="POST" id='patient_selection_form' class="form-horizontal" role="form">
				{% csrf_token %}
				<div class="form-group col-xs-8">
					<label>Select a resident:</label>
					<select id='patient_selection_form_select_box' name='resident_id' class="form-control"></select>
					<button id='table_input_form_submit' type="submit" class="btn btn-success">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<script src="{{ static }}/static/js/jquery.serializeJSON.min.js"></script>
	<script src="{{ static }}/static/js/fsw.csrf.js"></script>
	<script type='text/javascript'>
	$( document ).ready(function() {
		$.get("http://127.0.0.1:7177/residents/*/?format=json", function( data ) {
			$("#patient_selection_form_select_box").empty();
			for(i=0;i<data.length;i++){
				var first_name = data[i].first_name;
				if((data[i].middle_name)){
					var middle_name = data[i].middle_name;
				}else{
					var middle_name = "";
				}
				var last_name = data[i].last_name;
				$("#patient_selection_form_select_box").append("<option value='"+data[i].resident_id+"'>"+first_name+" "+middle_name+" "+last_name+"</option>");
			};
		});
	});
	</script>
{% endblock %}

